<div class="col-xs-3">
  <%= render '/users/info' %>
  <%= render '/books/new' %>
</div>

<div class="col-xs-9">

  <h2>Users</h2>

  <table class="table">
  	<thead>
  	  <tr>
  	  	<th>Image</th>
  	  	<th>name</th>
  	  	<th>User:ID</th>
  	  	<th colspan="3"></th>
  	  </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50,　format: 'jpeg', fallback: "no_image.jpg", size: 40 %></td>
          <td><%= user.name %></td>
          <td><%= user.id %></td>
          <td><%= link_to "Show", user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>